* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:host {
  display: block;
  height: 100%;
  background: #fdfaf3; /* bege claro */
  font-family: Arial, Helvetica, sans-serif;
  color: #2f5fa3;
}

/* Sobre nós */
.topbar {
  position: fixed;
  top: 20px;
  right: 30px;
}

.sobre {
  font-weight: bold;
  text-decoration: none;
  color: #2f5fa3;
}

/* Conteúdo central */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  text-align: center;
}

h1 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.box-user{
    width: 300px;
    height: 60px;
    border-radius: 16px;
}

.box-user:focus{
    width: 260px;
    height: 50px;
    border: 3px;
    border-color: #3366aa;
    border-radius: 16px;
}

.box-password{
    width: 300px;
    height: 60px;
    border-radius: 16px;
}

.box-password:focus{
    width: 260px;
    height: 50px;
    border: 3px;
    border-color: #3366aa;
    border-radius: 16px;
}


/* Botões */
.btn {
  width: 260px;
  padding: 14px;
  border: none;
  border-radius: 18px;
  background: #3366aa;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background: #274d80;
}

/* Barra e gota */
.progress-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drop {
  width: 18px;
  height: 24px;
  background: #3366aa;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  margin-bottom: 8px;
}

.progress-bar {
  width: 300px;
  height: 12px;
  background: linear-gradient(to right, #3366aa, #3366aa 60%, transparent);
  border-radius: 8px;
}